<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-10">
                <h2>Hello, [name]</h2>
            </div>
            <div class="col">
                <p class="text-end"><a href="/link1">Link 1</a></p>
            </div>
            <div class="col">
                <p class="text-end"><a href="/logout">Logout</a></p>
            </div>
        </div>
    
        <h3>All Items</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>col 1 </th>
                    <th>col 2</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>acme</td>
                    <td>[date]</td>
                    <td>[name]</td>
                    <td>
                        <a href="relics/{{relic.id}}">View</a>
                        <a href="relics/{{relic.id}}/edit">Edit</a>
                        <a href="relics/{{relic.id}}/delete">Delete</a>
                    </td>           
                </tr>
                <tr>
                    <td>2</td>
                    <td>asdfd</td>
                    <td>[date]</td>
                    <td>[name]</td>
                    <td>
                        <a href="relics/{{relic.id}}">View</a>
                        <a href="relics/{{relic.id}}/edit">Edit</a>
                        <a href="relics/{{relic.id}}/delete">Delete</a>
                    </td>           
                </tr>
            </tbody>
        </table>
        <a href="/add item">Add an item</a>
    
    </div>
</body>
</html>